@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
body {
	font-family: 'Duru Sans', sans-serif;
	background: #F2F2F2 ;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Duru Sans', Open Sans Light;
}

input { 
	padding: 5px 5px; 
	color: #787878; 
	font-family: Arial, Helvetica, sans-serif; 
	margin-top: 8px; 
	font-size: 15px; 
	border: 1px solid #ccc; 
	outline: none; 
}

button {
	margin-top: 8px; 	
}


header {
	background: #F2F2F2;
	width:100%;
	padding-top:50px;
	color: #000000;
	height:70px;
}
header h1 {
	font-size: 60px;
	margin-top: 120px;
}


.skroler {
	margin-top: 80px;
	font-size: 18px;
	border: 1px solid #fff;
	width: 43px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 100%;
}
.skroler a {
	color: #fff;
	text-decoration: none;
	text-align: center;
} 
.loginheader { 
	height: 20px; 
}
.loginform {
	margin: 4px auto; 
	/*text-align:right;*/
	/*padding-top:100px;*/
}
ul.nav.nav-tabs.login-nav {
	padding-left:60px;
}
.loginbox p { 
	margin: 7px 0 5px 0; 

}
.loginbox label { 
	display: block; 
	color:#00000; 
	letter-spacing: 1px; 
	font-size: 18px; 
	
}

#navbar input.mini {
	width:150px; 
}

#navbar  input.mini.left { 
	margin-right:12px
}

.loginbox input.mini { 
	width:195px; 
	padding-right: 10px;
}
.loginbox input.mini.left { 
	margin-right:12px
}


.loginbox input { 
	padding: 12px 10px; 
	color: #787878; 
	font-family: Arial, Helvetica, sans-serif; 
	margin-top: 8px; 
	font-size: 15px; 
	border: 1px solid #ccc; 
	width: 408px;  
	outline: none; 
}
.loginbox button { 
	background: #428bca;
	background-image:-webkit-linear-gradient(top, #3399FF, #4F67A4); 
	padding: 10px 20px; 
	font-size: 18px; 
	border: 1px solid #1D3871; 
	letter-spacing: 1px; 
	color: #fff; 
	width: 410px; 
	line-height:30px; 
	font-family:	'Helvetica Neue', Helvetica, Arial, sans-serif;
	-moz-box-shadow: 1px 1px 3px #1D3871; 
	-webkit-box-shadow: 1px 1px 3px #1D3871;
	box-shadow: 1px 1px 3px #1D3871; 
	cursor: pointer;
}

/* .radius { 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border-radius: 5px; 
}
.radius1 { 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px;
 border-radius: 3px; 
 }
.title { 
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
color:#8E989E; 
line-height:28px; 
font-weight:normal; 
text-align:center; 
font-size:16px; 
} */



.fbbutton { border:1px solid #1D3871; width:94px; background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4); font-size:14px; line-height:25px; font-weight:normal; color:#fff; }
#about {
	padding-top: 50px;
	color: #777777;
}
#about .row {
	text-align: center;
}

#about .glyphicon {
	font-size: 32px;
	color: #428bca;
	margin-bottom: 10px;
	border: 1px solid #AAA;
	width: 80px;
	border-radius: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
}
#about h3 {
	margin-bottom: 20px;
	text-align:left;
}
#about .glyphicon {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;

}
#about .col-md-3:hover .glyphicon {
	border: 1px solid #428bca;
	background: #428bca;
	color: #fff;
}
#about2 {
	padding-top: 180px;
	padding-bottom: 50px;
	background: #eaeaea;
	text-align: right;

	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
#about2 .glyphicon {
	font-size: 32px;
	color: #428bca;
	margin-bottom: 10px;
	border: 1px solid #AAA;
	width: 80px;
	border-radius: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: center;
}
/* Big Triangle */
svg#bigTriangleColor {
	margin-bottom: -100px;
	pointer-events: none;
}

#bigTriangleColor path {
	fill: #ffffff;
	stroke: #ffffff;
	stroke-width: 2;
}

#portfolio {
	background: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}
#portfolio .col-md-4 {
	margin-bottom: 30px;
}
#portfolio h4 {
	margin-bottom: 60px;
	padding-top: 20px;
	color: #777777;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(238, 238, 238, 0.90);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#777777 !important;
    font-weight: bold;
    z-index:2;
}
#about3 {
	background: url(../img/bg-about.jpg) no-repeat;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
}
#about3 .glyphicon {
	font-size: 22px;
	margin-bottom: 10px;
	background-color: #333333;
	width: 80px;
	border-radius: 100%;
	padding:28px;
	text-align: center;
}
#about3 .row {
	margin-bottom: 40px;
}
#about3 .feature {
	padding-top: 50px;
}
#about3 h4 {
	font-weight: bold;
}
#sponsor {
	background: url(../img/bg-sponsor.jpg);
	padding-top: 40px;
	padding-bottom: 60px;
	color: #ffffff;
	text-align: center;
}
#sponsor .row {
	margin-bottom: 40px;
}
#sponsor .space {
	margin-bottom: 40px;
}
footer {
	background: #333333;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	font-weight: 100;
}
footer h4 {
	margin-bottom: 30px;
}
#copyright {
	padding-bottom: 20px;
	padding-top: 20px;
	background: #222222;
	color: #ffffff;
	text-align: center;
}
@media only screen and (max-width: 480px) {
	.btn-lg {
		margin-bottom: 10px;
	}
	#about .row .col-md-3 {
		margin-bottom: 30px;
	}
	#about2, #about3 .btn {
		width: 100%;
	}
	#about3 .img-mockup {
		display: none;
	}
	#about3 {
		text-align: center;
	}
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.navbar-custom {
    color: #FFFFFF;
    background-image:-webkit-linear-gradient(top, #3399FF, #4F67A4); 
    padding-bottom: 8px;
}



